
.post {
  h1 {
    font-size: 1.35em;
    font-weight: bold;
  }
}

ul {
  font-size: 3em;
  float: left;
}

a {
  display: block;
  padding: 4px;

}

.post-title {
  display:inline-block;
  font-size: 32px;
}

.post-link {
  display: inline-block;
  font-size: 28px;
}

.post-content {
  font-size: 24px;
}

.post-updoots {
  display: inline-block;
  font-size: 24px;
}

.nav-item {
  display: inline;
  font-size: 24px;
  float: right;
}

#nav-home-link {
  float: left;
  font-size: 24px;
}

.title {
  background-color: #D3D3D3;
}
